sudo: required
dist: trusty
language: node_js

node_js:
  # LTS version
  - "8.9.0"

cache:
  directories:
  - node_modules

before_script:
  - cp -rf site-admin/assets/site/css/index.css site-admin/dist/css/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: site-admin/build
  on:
    branch: master
