<html>
<head>
  <title>KTM.JS | Kathmandu Javscript User Group</title>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
    <div class="Panel__Navigation">
      <img class="logo" src="images/logo.png" alt="Kathmandu JS User Group Logo" />
    </div>

    <div class="Panel__Meetup">
      <div class="Meetup">
        <h1 class="Meetup__Name">Kathmandu Javascript Meetup</h1>
        <p class="Meetup__Episode">/Episode 03, 2016</p>

        <date class="Meetup__Date">OCTOBER 25th</date>
        <date class="Meetup__Time">
          11<span class="Meetup__Time--thin">:00am</span> —
          02<span class="Meetup__Time--thin">:00pm</span>
        </date>

        <h2 class="Meetup__Venue">LeapFrog Technology Nepal</h2>
        <p class="Meetup__Address">Opp. Siddhi Poly Clinic, Dillibazar<br/>Kathmandu</p>

        <img class="Meetup__Ornament" src="images/flower.png" alt="flower"/>
      </div>
    </div>

      <div class="Panel__Schedule">
        <ol class="Sessions">
          <li class="Session">
            <h3 class="Session__Number">session #1</h3>
            <hr class="Session__Splitter"/>

            <h2 class="Session__Title">ECMAScript 2015</h2>
            <p class="Session__Time">@ 11:00am</p>

            <p class="Session__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu sapien, 
              viverra et sapien in, viverra semper sapien. Aliquam lobortis enim sit amet dolor 
              cursus malesuada. Nunc et turpis quis nisl egestas iaculis in sed lectus. 
              Aliquam vel hendrerit mauris. 
            </p>

            <ol class="Speakers Session__Speaker">
              <li class="Speaker">
                <img class="Speaker__ProfilePicture" src="images/profile_picture.png" alt="profile picture"/>
                <h2 class="Speaker__Name">David Beckham</h2>
                <p class="Speaker__DesignationAndWorkplace">Javascript Haxxor at CloudFactory</p>
              </li>
            </ol>
          </li>
          <li class="Session">
            <h3 class="Session__Number">session #1</h3>
            <hr class="Session__Splitter"/>

            <h2 class="Session__Title">ECMAScript 2015</h2>
            <p class="Session__Time">@ 11:00am</p>

            <p class="Session__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu sapien, 
              viverra et sapien in, viverra semper sapien. Aliquam lobortis enim sit amet dolor 
              cursus malesuada. Nunc et turpis quis nisl egestas iaculis in sed lectus. 
              Aliquam vel hendrerit mauris. 
            </p>

            <ol class="Speakers Session__Speaker">
              <li class="Speaker">
                <img class="Speaker__ProfilePicture" src="images/profile_picture.png" alt="profile picture"/>
                <h2 class="Speaker__Name">David Beckham</h2>
                <p class="Speaker__DesignationAndWorkplace">Javascript Haxxor at CloudFactory</p>
              </li>
            </ol>
          </li>

        </ol>

        <div class="Panel__SponsorsAndSupporters">
          <h2 class="SponsorsAndSupporters__Heading">Sponsors</h2>
          <ol class="Sponsors">
            <li class="Sponsor"><img class="Sponsor__Logo" src="images/company_1.png" alt="company 1" /></li>
          </ol>
          <hr class="SponsorsAndSupporters__Splitter"/>
          <h2 class="SponsorsAndSupporters__Heading">Supporters</h2>
          <ol class="Supporters">
            <li class="Supporter"><img class="Supporter__Logo" src="images/company_2.png" alt="company 2" /></li>
            <li class="Supporter"><img class="Supporter__Logo" src="images/company_3.png" alt="company 3" /></li>
          </ol>
        </div>
        
        <img class="chandra" src="images/chandra.png" alt="chandra logo" />
        <p class="credits">crafted by, <a href="https://www.github.com/27AE60" target="_blank">27AE60</a></p>
      </div>
    </div>
  </div>
</body>
</html>
