<html>
<head>
  <title>Admin | KTM.JS | Kathmandu Javscript User Group</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
  <img src="images/logo.png" class="logo" alt="ktm.js logo">
  <nav class="Panel__Navigation">
    <a class="selected" href="#">Episodes</a>
    <a href="#">People</a>
    <a href="#">Organizations</a>
  </nav>

  <section class="Panel__Call-to-action">
    <a href="#" class="Button Button--Success">Add new episode</a>
  </section>

  <ol class="Panel__Timeline Timeline">
    <li class="Timeline__Slice Slice">
      <section class="Slice__Meta Meta">
        <h1 class="Meta__Episode">Episode 01</h1>
        <date class="Meta__Date">25 October, 2015</date>
        <time class="Meta__Time">11:00am - 02:00pm</time>
        <p class="Meta__Venue">Leapfrog Technology Nepal</p>
        <p class="Meta__Venue-address">Opp. Siddhi Poly Clinic, Dillibazar, Kathmandu</p>
      </section>
      <section class="Slice__Details">
        <article class="Session">
          <h2 class="Session__Title">ECMAScript 2015</h2>
          <p class="Session__Speaker">
            <span class="Session__Speaker-label">Speaker - </span>
            Jaison Justus
          </p>
          <p class="Session__Speaker-organization">
            Commrade, Commander-in-chief Design at 27AE60.
          </p>
          <p class="Session__Description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Pellentesque arcu sapien, viverra et sapien in, viverra semper sapien. 
            Aliquam lobortis enim sit amet dolor cursus malesuada. 
            Nunc et turpis quis nisl egestas iaculis in sed lectus. 
            Aliquam vel hendrerit mauris.
          </p>
        </article>

        <article class="Session">
          <h2 class="Session__Title">ECMAScript 2015</h2>
          <p class="Session__Speaker">
            <span class="Session__Speaker-label">Speaker - </span>
            Jaison Justus
          </p>
          <p class="Session__Speaker-organization">
            Commrade, Commander-in-chief Design at 27AE60.
          </p>
          <p class="Session__Description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Pellentesque arcu sapien, viverra et sapien in, viverra semper sapien. 
            Aliquam lobortis enim sit amet dolor cursus malesuada. 
            Nunc et turpis quis nisl egestas iaculis in sed lectus. 
            Aliquam vel hendrerit mauris.
          </p>
        </article>

        <hr class="Splitter"/>

        <p class="Sponsors-Supporters">
          <span class="Sponsors-Supporters__Label">Sponsors: </span>
          Picovico, Cloudfactory & Microsoft
        </p>

        <p class="Sponsors-Supporters">
          <span class="Sponsors-Supporters__Label">Supported by: </span>
          Microsoft
        </p>

      </section>
      <div class="Slice__Ornament"></div>
    </li>

    <li class="Timeline__Slice Slice">
      <section class="Slice__Meta Meta">
        <h1 class="Meta__Episode">Episode 01</h1>
        <date class="Meta__Date">25 October, 2015</date>
        <time class="Meta__Time">11:00am - 02:00pm</time>
        <p class="Meta__Venue">Leapfrog Technology Nepal</p>
        <p class="Meta__Venue-address">Opp. Siddhi Poly Clinic, Dillibazar, Kathmandu</p>
      </section>
      <section class="Slice__Details">
        <article class="Session">
          <h2 class="Session__Title">ECMAScript 2015</h2>
          <p class="Session__Speaker">
            <span class="Session__Speaker-label">Speaker - </span>
            Jaison Justus
          </p>
          <p class="Session__Speaker-organization">
            Commrade, Commander-in-chief Design at 27AE60.
          </p>
          <p class="Session__Description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Pellentesque arcu sapien, viverra et sapien in, viverra semper sapien. 
            Aliquam lobortis enim sit amet dolor cursus malesuada. 
            Nunc et turpis quis nisl egestas iaculis in sed lectus. 
            Aliquam vel hendrerit mauris.
          </p>
        </article>

        <article class="Session">
          <h2 class="Session__Title">ECMAScript 2015</h2>
          <p class="Session__Speaker">
            <span class="Session__Speaker-label">Speaker - </span>
            Jaison Justus
          </p>
          <p class="Session__Speaker-organization">
            Commrade, Commander-in-chief Design at 27AE60.
          </p>
          <p class="Session__Description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Pellentesque arcu sapien, viverra et sapien in, viverra semper sapien. 
            Aliquam lobortis enim sit amet dolor cursus malesuada. 
            Nunc et turpis quis nisl egestas iaculis in sed lectus. 
            Aliquam vel hendrerit mauris.
          </p>
        </article>

        <hr class="Splitter"/>

        <p class="Sponsors-Supporters">
          <span class="Sponsors-Supporters__Label">Sponsors: </span>
          Picovico, Cloudfactory & Microsoft
        </p>

        <p class="Sponsors-Supporters">
          <span class="Sponsors-Supporters__Label">Supported by: </span>
          Microsoft
        </p>

      </section>
      <div class="Slice__Ornament"></div>
    </li>

  </ol>

</body>
</html>

