<html>
<head>
  <title>Admin | KTM.JS | Kathmandu Javscript User Group</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
  <img src="images/logo.png" class="logo" alt="ktm.js logo">
  <nav class="Panel__Navigation">
    <a class="selected" href="#">Episodes</a>
    <a href="#">People</a>
    <a href="#">Organizations</a>
  </nav>
  
  <section class="Panel__Form">

  </section>
</body>
</html>
