<!doctype html>
<html>
  <head>
    <title>Admin | KtmJS</title>
    <link rel="stylesheet" href="/admin/css/admin.css" type="text/css"/>
  </head>

  <body>
    <div class="Panel__Navigation">
      <img class="logo" src="/admin/images/logo.png" alt="Kathmandu JS User Group Logo" />
      <ul class="Navigation">
        <li><a href="/">Meetups</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/people">People</a></li>
      </ul>
    </div>

    <div class="Panel__Timeline">
      <div class="People__Save">
        <h3>Add People Profile</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Name"/>
          <input type="text" name="desc" placeholder="Description"/>
          <input type="text" name="company" placeholder="Company"/>
          <input type="text" name="designation" placeholder="Designation"/>
          <input type="hidden" name="for" value="people" />
          <input type="file" name="image" />
          <button type="submit" value="Upload">Upload File</button>
        </form>
      </div>
      <div class="People__List">
        <h3>Companies</h3>
      </div>
    </div>
    <script type="text/javascript">
      var companyListElm = document.getElementsByClassName('People__List')[0];

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
          console.log(xmlHttp.responseText, typeof xmlHttp.responseText);
          var response = JSON.parse(xmlHttp.responseText);
          response.forEach(function(i) {
            var img =  document.createElement('img');
            img.setAttribute('class', 'image--thumbnail');
            img.src = 'http://localhost:3000/' + i.file.path.replace('assets/', '');
            companyListElm.appendChild(img);
          });
        }
      }
      xmlHttp.open("GET", 'http://localhost:3000/upload?for=people', true);
      xmlHttp.send(null);
    </script>
  </body>
</html>
