<!doctype html>
<html>
  <head>
    <title>Admin - New episode | KTM.JS | Kathmandu Javscript User Group</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="admin/css/index.css" type="text/css"/>
  </head>

  <body>
    <img src="admin/images/logo.png" class="logo" alt="ktm.js logo">
    <nav class="Panel__Navigation">
      <a href="/meetups">Episodes</a>
      <a class="selected" href="/people">People</a>
      <a href="/companies">Organizations</a>
    </nav>

    <section class="Panel__Call-to-action">
      <a href="/people/form" class="Button Button--Success">Add new member</a>
    </section>

    <section class="Panel__Timeline Timeline">
      <ol class="Session__Speaker">
        {{#each people}}
        <li class="Speaker">
          <img class="Speaker__ProfilePicture" src="admin/images/people/{{file.filename}}" alt="profile picture">
          <h2 class="Speaker__Name">{{info.name}}</h2>
          <p class="Speaker__DesignationAndWorkplace">{{info.designation}} at {{info.organization}}</p>
        </li>
        {{~/each}}
      </ol>
    </section>
  </body>
</html>
