@import 'base/typography';
@import 'base/pallete';

.Speakers {}

.Speaker  {
  overflow: hidden;

  &__Name {
    width: auto;
    margin: 0 0 0 130px;
    @include font('lato', 'bold', 18px, 22px);
  }

  &__DesignationAndWorkplace  {
    margin: 2px 0 0 130px;
    @include font('lato', 'regular', 14px, 17px);
    @include color('igray');
  }

  &__ProfilePicture {
    width: 100px;
    height: 100px;
    float: left;
  }
}
