<!doctype html>
<html>
  <head>
    <title>Admin | KtmJS</title>
  </head>

  <body>
    <h1>Hello World</h1>
    <a href="save">Save</a>
    <a href="publish">Publish</a>

    {{#each episodes}}
      <p>{{episode}},{{date}}
        <a href="update/{{episode}}">Update</a>
        <a href="delete_event/{{episode}}">X</a>
      </p>
    {{~/each}}

  </body>
</html>
