<!doctype html>
<html>
  <head>
    <title>Admin | KtmJS</title>
  </head>

  <body>
    <h1>Hello World</h1>
    <a href="save">Save</a>
    {{#each episodes}}
      <p>{{date}},{{venue}}</p>
    {{~/each}}
  </body>
</html>
